In [1]:
import random
import pandas as pd

## Concact data from three files together

In [2]:
df_1 = pd.read_csv("data_1.csv", low_memory = False)
df_2 = pd.read_csv("data_2.csv", low_memory = False)
df_3 = pd.read_csv("data_3.csv", low_memory = False)

In [3]:
dropped_column_name_1 = ['keys', 'reviews.date', 'reviews.dateAdded', 'reviews.dateSeen',
                         'reviews.didPurchase', 'reviews.doRecommend', 'reviews.id',
                         'reviews.numHelpful','reviews.sourceURLs', 'reviews.title', 
                         'reviews.userCity', 'reviews.userProvince','asins']
dropped_column_name_2 = ['dateAdded', 'dateUpdated', 'primaryCategories', 'imageURLs', 'keys', 
                         'manufacturerNumber', 'reviews.date', 'reviews.dateSeen', 'reviews.didPurchase',
                         'reviews.doRecommend', 'reviews.numHelpful', 'reviews.sourceURLs', 'reviews.title',
                         'sourceURLs', 'reviews.id','asins']
dropped_column_name_3 = ['dateAdded', 'dateUpdated', 'primaryCategories', 'imageURLs', 'keys', 
                         'manufacturerNumber', 'reviews.date', 'reviews.dateAdded','reviews.dateSeen', 
                         'reviews.doRecommend', 'reviews.numHelpful', 'reviews.sourceURLs', 'reviews.title',
                         'sourceURLs', 'reviews.id','asins']

In [4]:
order_of_column = ['id', 'name',  'brand', 'categories', 'manufacturer', 'reviews.rating', 'reviews.text', 'reviews.username']

In [5]:
df_1 = df_1.drop(columns = dropped_column_name_1)[order_of_column]
df_2 = df_2.drop(columns = dropped_column_name_2)[order_of_column]
df_3 = df_3.drop(columns = dropped_column_name_3)[order_of_column]

In [6]:
df_1.head(5)

,id,name,brand,categories,manufacturer,reviews.rating,reviews.text,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,5.0,This product so far has not disappointed. My c...,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,5.0,great for beginner or experienced person. Boug...,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,5.0,Inexpensive tablet for him to use and learn on...,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,4.0,I've had my Fire HD 8 two weeks now and I love...,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,5.0,I bought this for my grand daughter when she c...,explore42

In [7]:
df_2.head(5)

,id,name,brand,categories,manufacturer,reviews.rating,reviews.text,reviews.username
0,AVpgNzjwLJeJML43Kpxn,AmazonBasics AAA Performance Alkaline Batterie...,Amazonbasics,"AA,AAA,Health,Electronics,Health & Household,C...",AmazonBasics,3,I order 3 of them and one of the item is bad q...,Byger yang
1,AVpgNzjwLJeJML43Kpxn,AmazonBasics AAA Performance Alkaline Batterie...,Amazonbasics,"AA,AAA,Health,Electronics,Health & Household,C...",AmazonBasics,4,Bulk is always the less expensive way to go fo...,ByMG
2,AVpgNzjwLJeJML43Kpxn,AmazonBasics AAA Performance Alkaline Batterie...,Amazonbasics,"AA,AAA,Health,Electronics,Health & Household,C...",AmazonBasics,5,Well they are not Duracell but for the price i...,BySharon Lambert
3,AVpgNzjwLJeJML43Kpxn,AmazonBasics AAA Performance Alkaline Batterie...,Amazonbasics,"AA,AAA,Health,Electronics,Health & Household,C...",AmazonBasics,5,Seem to work as well as name brand batteries a...,Bymark sexson
4,AVpgNzjwLJeJML43Kpxn,AmazonBasics AAA Performance Alkaline Batterie...,Amazonbasics,"AA,AAA,Health,Electronics,Health & Household,C...",AmazonBasics,5,These batteries are very long lasting the pric...,Bylinda

In [8]:
df_3.head(5)

,id,name,brand,categories,manufacturer,reviews.rating,reviews.text,reviews.username
0,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Amazon,"Computers,Electronics Features,Tablets,Electro...",Amazon,3,I thought it would be as big as small paper bu...,llyyue
1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Amazon,"Computers,Electronics Features,Tablets,Electro...",Amazon,5,This kindle is light and easy to use especiall...,Charmi
2,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Amazon,"Computers,Electronics Features,Tablets,Electro...",Amazon,4,Didnt know how much i'd use a kindle so went f...,johnnyjojojo
3,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Amazon,"Computers,Electronics Features,Tablets,Electro...",Amazon,5,I am 100 happy with my purchase. I caught it o...,Kdperry
4,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Amazon,"Computers,Electronics Features,Tablets,Electro...",Amazon,5,Solid entry level Kindle. Great for kids. Gift...,Johnnyblack

In [9]:
# concact three dataframe together
result = pd.concat([df_1, df_2, df_3], ignore_index = True)

#rename coloumns
result = result.rename(columns = {"reviews.username": "username", "reviews.text":"text","reviews.rating" : "rating"})

In [10]:
# reset index (used as review_id)
result.index.names = ["index"]
result = result.reset_index()

In [11]:
# reset product_id
list_of_unique_product = list(result["id"].unique())
result["id"] = result["id"].apply(lambda x: list_of_unique_product.index(x) + 1)

In [12]:
# number of unique products
len(list_of_unique_product)

92

In [13]:
list_of_unique_manufacturer = list(result["manufacturer"].unique())
list_of_unique_manufacturer

['Amazon',
 'Amazon Digital Services, Inc',
 'AmazonBasics',
 'Amazon Digital Services',
 'Amazon.com']

## Randomly assign age to user

In [14]:
#rename coloumns
result = result.rename(columns={"reviews.username": "username", "reviews.text":"text","reviews.rating" : "rating"})

In [15]:
#Give each user a random age
def generateAge(x):
    r = random.random()
    if r <= 0.08:
        return random.randint(18,25)
    elif r <= 0.35:
        return random.randint(25,34)
    elif r <= 0.57 :
        return random.randint(35,44)
    elif r<= 0.74:
        return random.randint(45,54)
    elif r<= 0.90:
        return random.randint(45,60)
    else:
        return random.randint(16,70)

In [16]:
result['age']= result['id'].apply(generateAge)
result.head()

,index,id,name,brand,categories,manufacturer,rating,text,username,age
0,0,1,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,5.0,This product so far has not disappointed. My c...,Adapter,45
1,1,1,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,5.0,great for beginner or experienced person. Boug...,truman,44
2,2,1,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,5.0,Inexpensive tablet for him to use and learn on...,DaveZ,50
3,3,1,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,4.0,I've had my Fire HD 8 two weeks now and I love...,Shacks,47
4,4,1,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...",Amazon,5.0,I bought this for my grand daughter when she c...,explore42,44

In [17]:
# save the result as new file
result.to_csv('cleaned_result.csv', index = False)

## Prepare the data for adding product

In [18]:
product_df = result[["id", "name", "brand", "manufacturer"]]
product_df = product_df.drop_duplicates(subset = ["id"])
product_df.head(5)

,id,name,brand,manufacturer
0,1,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Amazon,Amazon
2814,2,Kindle Oasis E-reader with Leather Charging Co...,Amazon,Amazon
2881,3,"Amazon Kindle Lighted Leather Cover,,,\r\nAmaz...",Amazon,Amazon
2886,4,"Kindle Keyboard,,,\r\nKindle Keyboard,,,",Amazon,Amazon
2905,5,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",Amazon,Amazon

In [19]:
product_df.to_csv('product.csv', index = False)

## Prepare the data for adding user

In [20]:
user_df = result[["username", "age"]]
user_df = user_df.drop_duplicates()
user_df.head(5)

    username  age
0    Adapter   45
1     truman   44
2      DaveZ   50
3     Shacks   47
4  explore42   44

In [21]:
user_df.to_csv('user.csv', index = False)